*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif, Helvetica;
}

main{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 40%;
    height: 350px;
    background: antiquewhite;
    color: #343434;
    font-size: 35px;
    border: 2px #343434 solid;
    border-radius: 25px;
    display: grid;
    place-items: center;
}

.contenedor button{
    width: 40%;
    height: 50px;
    color: #343434;
    background: aliceblue;
    border: 2px #343434 solid;
    border-radius: 5px;
    cursor: pointer;    
}

@media only screen and (max-width: 750px) {
    .contenedor{
        font-size: 25px;
    }
}
